#gallery {
    text-align: center;
}

#gallery .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    text-align: start;
}

.gallery-detail {
    width: 420px;
    height: 487px;
    display: none;
}

.gallery-box p {
    margin-top: 5px;
    letter-spacing: 1px;
}

.author {
    font-size: 16px;
}
.place {
    font-size: 12px;
    color: #666;
}

#gallery button {
    margin: 0 auto;
    margin-top: 100px;
}

.float-right a {
    font-weight: 500;
}

.float-right a:link {
    color: #333;
}

.float-right a:visited {
    color: purple;
}

.float-right a:hover {
    border-bottom: 1px solid purple;
}

.float-right a:active {
    color: orange;
}